# Исключить каталоги __pycache__ и файлы .pyc, .pyo
__pycache__/
*.pyc
*.pyo

# Исключить файлы журнала и временные файлы
*.log
*.tmp

# Исключить файлы конфигурации среды IDE
.vscode/
.idea/

# Исключить Dockerfile и файлы сборки из копирования (если они не нужны)
Dockerfile
docker-compose.yml

# Исключить любые другие файлы, которые не нужны внутри контейнера
*.env
